body{

display:flex;
justify-content:center;
align-items:center;
height:100vh;

background:#111;
color:white;

font-family:Arial;

}

.clock{

font-size:60px;
background:#222;
padding:30px 50px;
border-radius:10px;

box-shadow:0 0 20px cyan;

}